spring:
  application:
    name: school project
  datasource:
    url: jdbc:mysql://localhost:3306/school-reg?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
    username: root
    password: kakilat19
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
      bytecode:
        provider: bytebuddy
      show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
server:
  port: 8081
